* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.contacts-content,
.menu-logo,
.our-services,
.our-approuch,
.our-work, 
.social-network,
.get-in-touch,
.footer {
  max-width: 1660px;
  margin: auto;
}
.contacts {
  background-color: #f0f2f4;
  border-bottom: solid #e2e2e2 1px;
}
.contacts-content {
  display: flex;
  flex-direction: row;
  gap: 1%;
  align-items: baseline;
  justify-content: flex-end;
  padding: 7px 10% 9px 10%;
}
.nomber-phone,
.mail {
  display: flex;
  flex-direction: row;
  align-items: center;

}
.mail {
  border-left: solid #e2e2e2 1px;
  padding-left: 1%;
  margin-right: 1%;
}
.address,
.nomber-phone {
  font-size: 0.9em;
  color: #424242;
  font-family: "Helvetica";

  text-decoration: none;
}
.address {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.address-mail {
  margin-left: 5%;
}
.menu-logo {
  display: flex;
  align-items: center;
  padding: 20px 10%;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;
}
.logo-title {
  display: flex;
  flex-direction: column;
}
.title-busines {
  font-size: 2.3rem;
  color: #424242;
  font-weight: bold;
  font-family: "Helvetica Neue";
  text-align: center;
}
.tagline {
  font-size: 1rem;
  color: #424242;
  font-family: "Helvetica Neue";
  text-align: center;
}
.nav {
  display: flex;
  margin-left: auto;
}
.menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
}
.list {
  color: #424242;
  font-size: 15px;
  font-weight: bold;
  font-family: "Helvetica Neue";
  text-decoration: none;
}
.list:nth-child(1) {
  color: #de2b24;
  list-style-type: none;
}
.button {
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
  font-family: "Helvetica Neue";

  padding: 7px 20px;
  border-radius: 4px;
  background-color: #de2b24;

}
.button:hover {
  background-color: #8a1915;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;

  padding-top: 176px;
  padding-bottom: 237px;
  background-image: url(../image/background.jpg);
  background-size: cover;
  position: relative;
  z-index: 0;
}
.banner::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}
.banner-link {
  text-align: center;
  text-decoration: none;
  font-size: 3rem;
  color: #ffffff;
  font-weight: bold;
  font-family: "Helvetica Neue";
  text-align: center;
}
.banner-form {
  text-align: center;
  vertical-align: center;
}
.button-consultation {
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #f8cd53;
  font-weight: bold;
  font-family: "Helvetica Neue";
  border-radius: 7px;
  border: 0;
  padding: 20px 70px;
}
.button-consultation:hover {
  background-color: #c4930d;
}
.our-services {
  padding: 100px 10% 120px 10%;
}
.our-services-title {
  text-align: center;
}
.our-services-title::after {
  content: "";
  display: block;
  width: 47px;
  height: 5px;
  background-color: #424242;
  margin: auto;
  margin-top: 18px;
}
.services-title {
  font-size: 2.25rem;
  line-height: 26px;
  color: #424242;
  font-weight: bold;
  font-family: "Helvetica Neue";
}
.services-comment {
  padding-top: 10px;
}
.services {
  display: flex;
  align-items: center;
  
  margin-top: 45px;
  gap: 6%;
}
.services-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-comment {
  text-align: center;
}
.marketing-title,
.book-title,
.chat-title {
  font-size: 1.4rem;
  color: #424242;
  font-weight: bold;
  font-family: "Helvetica Neue";
  padding-top: 29px;
  padding-bottom: 14px;
}
.marketing-comment,
.book-comment,
.chat-comment {
  font-size: 0.9rem;
  line-height: 22px;
  color: #5b5b5b;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
}
.our-approuch {
  padding: 91px 10% 132px 10%;
  background-color: #f3f3f3;
}
.our-approuch-title,
.our-work-title {
  text-align: center;
}

.our-approuch-title::after {
  content: "";
  display: block;
  width: 47px;
  height: 5px;
  background-color: #424242;
  margin: auto;
  margin-top: 14px;
}
.approuch {
  font-size: 2.25rem;
  line-height: 26px;
  color: #424242;
  font-weight: bold;
  font-family: "Helvetica Neue";
}
.approuch-comment {
  margin-top: 5px;
}
.steps {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.step-one,
.step-two,
.step-three,
.step-four {
  display: flex;
  gap: 3%;

  border-radius: 3px;
  background-color: #ffffff;
}
.step-two,
.step-four {
  flex-direction: row-reverse;
}
.step-one-txt,
.step-two-txt,
.step-three-txt,
.step-four-txt {
  display: flex;
  flex-direction: column;
  gap: 17px;
  justify-content: center;
}
.step-two-txt,
.step-four-txt {
  text-align: end;
}
.step-one-title,
.step-two-title,
.step-three-title,
.step-four-title {
  font-size: 1.1rem;
  line-height: 26px;
  color: #424242;
  font-weight: bold;
  font-family: "Helvetica Bold";
}
.our-work {
  padding: 110px 10% 130px 10%;
  background-color: #de2b24;
}
.work {
  font-size: 2.25rem;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Helvetica Neue";
  text-align: center;
}
.work-comment {
  margin-top: 10px;
  color: #ffffff;
}
.our-work-title::after {
  content: "";
  display: block;
  width: 47px;
  height: 5px;
  background-color: #f3f3f3;
  margin: auto;
  margin-top: 17px;
}
.content-box {
  margin-top: 47px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: center;
}
.conteiner {
  display: flex;
  width: 50%;
}
.box-text,
.box-img {
  width: 50%;
  background-color: #f35e59;
  text-align: center;
}
.box-text {
  padding-top: 70px;
  padding-bottom: 70px;
}
.img-content {
  height: 100%;
  width: 100%;
}
.box-title {
  font-size: 23px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Helvetica Neue";
  text-align: center;
}
.box-comment {
  color: #ffffff;
}
.box-title::before {
  content: "";
  display: block;
  background-image: url(../icon/telegram.png);
  background-size: contain;
  color: #ffffff;
  height: 40px;
  width: 40px;
  margin: auto;
}
.social-network {
  background-color: #1287bf;
  width: 100%;
  padding-bottom: 112px;
}
.network-title {
  padding-top: 100px;
  font-size: 2.25rem;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Helvetica Neue";
  text-align: center;
}
.network-comment {
  padding-top: 10px;
  line-height: 26px;
  color: #ffffff;
  font-family: "Helvetica Neue";
  text-align: center;
}
/* .button-form {
  width: 58px;
  height: 58px;
  border-radius: 29px;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #ffffff;
  margin: auto;
}
.button-form::after {
  content: "";
  display: block;
  border-radius: 29px;
  color: #ffffff;
  background-image: url(image/attribute.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: #1287bf;
  background-size: cover;
} */
.form-title {
  padding-top: 57px;
  margin-bottom: 37px;
  height: 76px;
  font-size: 15px;
  line-height: 22px;
  color: #828282;
  font-family: "Helvetica";
  text-align: center;
}
.form-popup {
  width: 65%;
  border-radius: 3px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 20%;
  margin-right: 20%;
}
.field {
  padding: 18px 0px 21px 20px;
}
.btn {
  margin-top: 36px;
  margin-bottom: 68px;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  height: 46px;
  border-radius: 3px;
  background-color: #de2b24;
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
  font-family: "Helvetica Neue";
}
.get-in-touch {
  padding: 90px 10% 84px 10%;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.touch-title {
  font-size: 1.8rem;
  line-height: 22px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Helvetica Neue";
  margin-bottom: 29px;
}
.touch-list {
  display: flex;
  gap: 10%;
  list-style-type: none;
  justify-content: center;
}
.touch-facebook::before {
  content: "";
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url(../icon/f.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}
.touch-twitter::before {
  content: "";
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url(../icon/twitter.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}
.touch-google::before {
  content: "";
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url(../icon/g.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}
.touch-instagram::before {
  content: "";
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url(../icon/instagram.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}
.touch-link {
  text-decoration: none;
}
.icon {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}
.touch-comment {
  font-size: 0.9rem;
  line-height: 22px;
  color: #cecece;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  margin-top: 37px;
  margin-bottom: 31px;
}
.touch-email {
  border-radius: 1px;
  border: 0;
  background-color: #515151;
  width: 100%;
  padding: 22px 0px 20px 22px;
  font-size: 14px;
  line-height: 22px;
  color: #cecece;
  font-weight: 400;
  font-family: "Open Sans";
  margin-bottom: 27px;
}
.touch-button {
  padding: 18px 34px 18px 34px;
  border-radius: 1px;
  background-color: rgba(243, 243, 243, 0);
  border: 2px solid #515151;
  font-size: 17px;
  line-height: 22px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Helvetica";
  text-align: center;
}
.footer {
  background-color: #515151;
  padding: 26px 0px 30px 0px;
  text-decoration: none;
  text-align: center;
}
.right {
  font-size: 0.9rem;
  line-height: 27px;
  color: #cecece;
  font-weight: 400;
  font-family: "Open Sans";
}